#Database
MYSQL_USER=healthcheck
MYSQL_ROOT_PASSWORD=my-password
MYSQL_HOST=mariadb
MYSQL_PORT=3306
MYSQL_DATABASE=my-database
MONGO_URI=mongodb://mongo-db:27017/healthcheck

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

#Grafana
GF_SECURITY_ADMIN_PASSWORD=my-password

#Cloudflare
CLOUD_FLARE_TUNNEL_TOKEN=my-token
