services:
  healthcheck-api:
    build: ./healthcheck-api
    platform: linux/arm64
    container_name: healthcheck-api
    restart: unless-stopped
    environment:
      - MONGO_URI=${MONGO_URI}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - GRAFANA_URL=http://grafana:3000
    networks:
      - internal-net
    depends_on:
      - mariadb
      - redis
      - grafana
    expose:
      - 3000

  mariadb:
    image: mariadb:10.6
    platform: linux/arm64
    container_name: mariadb
    restart: unless-stopped
    environment:
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_PORT=${MYSQL_PORT}
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - internal-net

  redis:
    image: redis:7-alpine
    platform: linux/arm64
    container_name: redis
    restart: unless-stopped
    networks:
      - internal-net

  grafana:
    image: grafana/grafana
    platform: linux/arm64
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - grafana-data:/var/lib/grafana
    networks:
      - internal-net
    expose:
      - 3000

  prometheus:
    image: prom/prometheus
    platform: linux/arm64
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - internal-net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUD_FLARE_TUNNEL_TOKEN}
    networks:
      - internal-net

volumes:
  mongodb-data:
  mariadb-data:
  grafana-data:
  prometheus-data:

networks:
  internal-net:
    external: true
